<script>
    function getPageName() {
        return window.location.href.slice("https://lilian.boulard.fr/blog/".length, -1).replace("/", "-");
    }
    function getViews() {
        fetch(`https://telemetry.boulard.fr/counter/blog/${getPageName()}`, {"method": "GET"})
        .then(response => {
            if (!response.ok) {
            throw new Error(`Could not get article views ; HTTP ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            document.getElementById("views").textContent += data["views"];
        })
        .catch(error => {
            throw new Error(`Could not get article views ; ${error}`);
        });
    }
    function ready() {
        fetch(`https://telemetry.boulard.fr/counter/blog/${getPageName()}`, {"method": "POST"}).then(response => {}).catch(error => {});
    }
    document.addEventListener("DOMContentLoaded", ready);
    document.addEventListener("DOMContentLoaded", getViews);
</script>