<script>
    function getViews() {
        let viewsElement = document.getElementById("views");
        fetch(`https://telemetry.boulard.fr/counter/blog/${viewsElement.dataset.article}`, {"method": "GET"})
        .then(response => {
            if (!response.ok) {
            throw new Error(`Could not get article views ; HTTP ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            viewsElement.textContent = `<i class="fas fa-eye fa-sm">${data["views"]}`;
        })
        .catch(error => {
            throw new Error(`Could not get article views ; ${error}`);
        });
    }

    function registerView() {
        fetch(`https://telemetry.boulard.fr/counter/blog/${document.getElementById("views").dataset.article}`, {"method": "POST"})
        .then(response => {})
        .catch(error => {});
    }

    document.addEventListener("DOMContentLoaded", registerView);
    document.addEventListener("DOMContentLoaded", getViews);
</script>