<script>

    function getViews() {
        let viewsElements = document.getElementsByClassName("views");
        for (let viewsElement in viewsElements) {
            fetch(`https://telemetry.boulard.fr/counter/blog/${viewsElement.dataset.article}`, {"method": "GET"})
            .then(response => {
                if (!response.ok) {
                throw new Error(`Could not get article views ; HTTP ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                viewsElement.textContent += data["views"];
            })
            .catch(error => {
                throw new Error(`Could not get article views ; ${error}`);
            });
        }
    }

    function registerView() {
        fetch(`https://telemetry.boulard.fr/counter/blog/${document.getElementsByClassName("views")[0].dataset.article}`, {"method": "POST"})
        .then(response => {})
        .catch(error => {});
    }

</script>